.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
  font-size: 3rem;
  align-items: center;
}

.navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
}